<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <client>
    <!--java后台服务器IP地址-->
    <Server address="10.66.21.7:8080" ></Server>
    <Server2 address="10.66.21.7:8080" ></Server2>
    <Server3 address="127.0.0.1:8081" ></Server3>
    <DataServerYazuo address="10.66.21.7:8081"/>
    <CanDaoMemberServer value="member.candaochina.com" ></CanDaoMemberServer>
    <ApiPath value="newspicyway"></ApiPath>
    <!--PrintDesign 0打印到打印机 1预览 2设计（如果店有特别要求可改成2 自定义修改：比如增加LOGO，加广告二维码等）-->    
    <PrintDesign value="2" ></PrintDesign>
    <!--POSID POS机编号-->
    <POSID value="001"></POSID>
    <MANAGERPWD value="11111111"></MANAGERPWD>
    <!--OpenCash 钱箱打印机IP地址-->
    <OpenCash value="127.0.0.1"></OpenCash>
    <!--PortName 如果是IBM钱箱打开方式 设为4-->
    <PortName value=""></PortName>
    <AutoClose value="0"></AutoClose>
    <!--TakeOutTable 外卖台台号 tableno-->
    <TakeOutTable value="12"></TakeOutTable>
    <!--TakeOutTableID 外卖台编号 tableid-->
    <TakeOutTableID value="13"></TakeOutTableID>
    <!--ClearCoupon 保存未结帐选择的优惠-->
    <ClearCoupon value="0"></ClearCoupon>
    <Round value="1"></Round>
    <!--yhid 第二扎半价优惠ID 惠新-->
    <yhid value=""> </yhid>
    <!--doubledishticket 双拼鱼锅会员立减优惠ID 蓝港-->
    <doubledishticket value=""></doubledishticket>
    <!--MemberSystem 0雅座 1餐道-->
    <MemberSystem value="1"></MemberSystem>
    <!--branch_id 分店号-->
    <branch_id value="83745"></branch_id>
    <!--report_title 帐单台头：比如：新辣道惠新店-->
    <report_title value="撸8"></report_title>
    <!--report_tele 电话-->
    <report_tele value="电话：010-65681066"></report_tele>
    <!--report_address 地址-->
    <report_address value="北京朝阳区建国路甲108号北京雷特斯酒店B1层"></report_address>
    <!--report_web 网址-->
    <report_web value=""></report_web>
    <!--isprint_invoice 是否打印开发票小票-->
    <isprint_invoice value="1"></isprint_invoice>
    <!--report_title 会员发票商户名称-->
    <report_membertitle value="撸8"></report_membertitle>
    <!--reorderreason 反结原因 固定5个-->
    <reorderreason1 value="结错帐"></reorderreason1>
    <reorderreason2 value="用错优惠"></reorderreason2>
    <reorderreason3 value="用错会员"></reorderreason3>
    <reorderreason4 value="客人投诉"></reorderreason4>
    <reorderreason5 value=""></reorderreason5>
    <!--paytype 营业模式0 正常 1类咖啡模式 -->
    <paytype value="0"></paytype> 

  </client>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
